.bg-24a086 {
  background-color: #24a086 !important;
}

.bg-30ac63 {
  background-color: #30ac63 !important;
}

.bg-3081b8 {
  background-color: #3081b8 !important;
}

.bg-8c48ab {
  background-color: #8c48ab !important;
}

.bg-2e3f51 {
  background-color: #2e3f51 !important;
}

.bg-f0c430 {
  background-color: #f0c430 !important;
}

.bg-e47f31 {
  background-color: #e47f31 !important;
}

.bg-ecf0f1 {
  background-color: #ecf0f1 !important;
}

.bg-96a6a6 {
  background-color: #96a6a6 !important;
}

.bg-28bc9a {
  background-color: #28bc9a !important;
}

.bg-38cc76 {
  background-color: #38cc76 !important;
}

.bg-3b99da {
  background-color: #3b99da !important;
}

.bg-9b5cb3 {
  background-color: #9b5cb3 !important;
}

.bg-354a5d {
  background-color: #354a5d !important;
}

.bg-f19b2e {
  background-color: #f19b2e !important;
}

.bg-d05518 {
  background-color: #d05518 !important;
}

.bg-bd3933 {
  background-color: #bd3933 !important;
}

.bg-bcc3c9 {
  background-color: #bcc3c9 !important;
}

.bg-818c8e, .bg-grey {
  background-color: #818c8e !important;
}